## This notebook contains the assignment for capstone project Neighbouhoods in Toronto.
### SCRAPING THE WIKIPEDIA PAGE

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
page_soup=BeautifulSoup(page.content,'html.parser')

In [16]:
table = page_soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

# Data Wrangling

In [17]:
df = pd.DataFrame(row)
df = df[0].str.split('\n', expand=True)
df = df.rename(columns=df.iloc[0])
df = df.drop(df.index[0])
df.head()

    Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

## Ignore cells with a borough that is Not assigned

In [18]:
df=df[df.Borough !="Not assigned"]
df.head()

    Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

# Combine neighborhoods which have the same postcode

In [19]:
df = df.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)
df.reset_index(inplace = True)
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

## If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [20]:
df = df.replace("Not assigned", "Queen's Park")
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

## .shape method to print the number of rows of your dataframe

In [21]:
df.shape

(103, 3)